.request-details-card{
  max-width: 1000px;
  /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
  /*background-color: #ffffff;*/
  margin: 4rem auto;
  padding: 2rem 1rem;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr ;
  column-gap: 10px;
}
.request-details-card > div{
  border: 1px solid #ccc;
  padding: 2rem 1rem;

}

@media screen and (min-width: 600px) {
  .request-details-card {
    grid-template-columns: 1fr 1fr;
  }
}

#video-input{
  background: white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 350px;
}

::-webkit-file-upload-button{
  color:white;
  background: #206a5d;
  padding: 20px;
  border:none;
  border-radius:50px;
  box-shadow:lpx 0 lpx lpx #6b4559;
  outline:none;
}

::-webkit-file-upload-button:hover{
  background: #438a5e;  
}