<ng-container *ngIf="creator">
  <div class="header pb-4 pt-5 pt-lg-4 d-flex align-items-center"
       style="min-height: 300px; background-image: url({{creator.profile_image}}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <label for="image" class="">
                  <img [src]="preview != null ? preview : creator.profile_image" height="135" width="135" alt="">
                </label>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <input (change)="upLaodProfileImage($event)" type="file" id="image" accept="image/png, image/gif, image/jpeg" hidden>
              <input  type="file" id="video" accept="image/png, image/gif, image/jpeg" hidden>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center">
              <h3>
<!--                {{creator.last_name}} {{creator.first_name}} <span class="font-weight-light">, 27</span>-->
              </h3>
              <div class="h5 font-weight-300">
<!--                <i class="ni location_pin mr-2"></i>{{creator.titre}}-->
              </div>
              <div class="h5 mt-4">
<!--                <i class="ni business_briefcase-24 mr-2"></i>{{creator.titre}}-->
              </div>
              <div>
<!--                <i class="ni education_hat mr-2"></i>{{creator.pseudo_social_network}}-->
              </div>
              <div class="mt-8">
                cliquez sur l'image pour changer votre photo de profil
              </div>
              <hr class="my-4" />
              <p>{{creator.description}}.</p>
              <hr class="my-4" />
              <iframe width="100%" height="315" src="https://media.vidoleo.com/video/profil/laurentpaganelli2.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Mon compte</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="profilForm" (ngSubmit)="profilForm.valid && update()">
              <h6 class="heading-small text-muted mb-4">Informations</h6>
              <div class="pl-lg-4">
                <div class="row ">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="first_name">Prénoms</label>
                      <input [formControlName]="'first_name'" type="text" id="first_name" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Nom</label>
                      <input [formControlName]="'last_name'" type="text" id="last_name" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Titre</label>
                      <input [formControlName]="'titre'" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email</label>
                      <input [formControlName]="'email'" type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Prénoms</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Nom</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Téléphone</label>
                      <input [formControlName]="'phone'" type="tel" id="input-first-phone" class="form-control form-control-alternative" placeholder="Téléphone" value="Lucky">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Temps de reponse</label>
                      <input  [formControlName]="'answer_time'" type="text" id="input-last-time" class="form-control form-control-alternative" placeholder="Temps de reponse" value="Jesse">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Description</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea [formControlName]="'description'" rows="5" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                </div>
              </div>
              <button class="container-fluid btn-outline-primary" type="submit">Sauvegarder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Occasions</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Description -->
          <!--          <h6 class="heading-small text-muted mb-4">Occasions</h6>-->
          <div class="col" >
            <div class="col-md-12">
              <form action="" [formGroup]="occasionForm" (ngSubmit)="occasionForm.valid && updateOccasionForm()">
                <div class="row align-items-end">
                  <div class="col-md-6">
                    <div class="form-group" >
                      <label  class="form-check-label" >Prix pour normal</label>
                      <input [formControlName]="'priceNormal'"  type="text" class="form-control form-control-alternative" placeholder="{{getOccasionPrice(1)}}" >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button (click)="saveNormal()" type="submit" class="form-group container btn btn-primary">Enregistrer Normal</button>
                  </div>
                </div>
                <div class="row align-items-end">
                  <div class="col-md-6">
                    <div class="form-group" >
                      <label  class="form-check-label" >Prix pour entreprise</label>
                      <input [formControlName]="'priceEntreprise'"  type="text" class="form-control form-control-alternative" placeholder="{{getOccasionPrice(1)}}" >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button (click)="saveEntreprise()"  class="form-group container btn btn-primary">Enregistrer Entreprise</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>

