<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card-header border-0 ">
    <form [formGroup]="filterDemand" (ngSubmit)="filterDemand.valid && sumbmitFilter()" class="flex-row row flex align-items-center">
      <div class="form-group col">
        <select [formControlName]="'status'" class="form-control" id="exampleFormControlSelect1">
          <option selected value="">Status</option>
          <option [value]="status.value" *ngFor="let status of statusList">{{status.viewValue}}</option>
        </select>
      </div>
      <div class="form-group col">
        <input  [formControlName]="'code'"  type="text" id="code" class="form-control form-control-alternative" placeholder="code" >
      </div>
      <div class="form-group col">
        <input [formControlName]="'name'" type="text" id="first_name" class="form-control form-control-alternative" placeholder="client" >
      </div>
      <div class="form-group col-md">
        <button [disabled]="filterDemand.invalid"  type="submit" class="btn btn-primary container">chercher</button>
      </div>
    </form>
  </div>
  <ng-container *ngIf="demands$ | withLoading | async as demandsWithPagination">
    <ng-template [ngIf]="demandsWithPagination.value">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Client</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let demand of demandsWithPagination.value.data">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{demand.code}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{demand.creatorOccasionType.occasionType.name}}
                  </td>
                  <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{translateStatus(demand.status)}}
                  </span>
                  </td>
                  <td>
                    {{demand.client.first_name}}
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" routerLink="/demandes/details/{{demand.id}}">Details</a>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item " [ngClass]="demandsWithPagination.value.meta.current_page == 1 ? 'disabled text-primary' : '' ">
                    <a class="page-link" (click)="pageChanged(demandsWithPagination.value.meta.current_page-1)"  tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Precedent</span>
                    </a>
                  </li>
                  <li *ngFor="let i of createArray(demandsWithPagination.value.meta.last_page)" class="page-item" [ngClass]="demandsWithPagination.value.meta.current_page == i ? 'disabled text-primary' : '' ">
                    <a  (click)="pageChanged(i)"  class="page-link" >{{i}} <span class="sr-only"> {{demandsWithPagination.value.meta.current_page==i? '(current)' : ''}}</span></a>
                  </li>
                  <li class="page-item" [ngClass]="demandsWithPagination.value.meta.current_page == demandsWithPagination.value.meta.last_page ? 'disabled' : '' ">
                    <a class="page-link" (click)="pageChanged(demandsWithPagination.value.meta.current_page+1)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Suivant</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="demandsWithPagination.error" ></ng-template>
    <ng-template [ngIf]="demandsWithPagination.loading" ></ng-template>
  </ng-container>
</div>
